<div class="jumbotron">
    <div class="login-container">
        <div class="title-container">
            <h1 class="login-title"> Time Tracker 2000</h1>
        </div>
    </div>
</div>



<p><%= link_to 'Sign In', login_path(@developer) %></p>
<p><%= link_to 'Create New Developer', new_developer_path(@developer) %></p>
